<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../../public/assets/css/happy_tails_style.css">

  <title>Hiking Tails</title>

</head>

<body>
  <!--Nav Bar-->
  <nav id='home-nav' class='navbar navbar-inverse'>
    <div class='container-fluid'>
      <div class='navbar-header'>
        <a class='navbar-brand' href='index.html'>Hiking Tails</a>
      </div>
      <ul class='nav navbar-nav'>
        <li>
          <a class="nav-item nav-link active" href='./index.html'>Home</a>
        </li>
        <li>
          <a class="nav-item nav-link active" href='./login.html'>Log In</a>
        </li>
        <li>
          <a class="nav-item nav-link active" href='./signup.html'>Sign Up</a>
        </li>
        <li>
          <a class="nav-item nav-link active" href='./addTrail.html'>My Trails</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>



<div class="index-video-banner" style="display: block">
    <iframe class="video-player--banner" src="../../public/assets/images/vid.mp4" framborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>..</iframe></iframe>
</div>

  <!--Location Form-->
  <form>
    <h2>Find a Trail Near You!</h2>
    <div class="form-row">
      <div class="col-7">
        <input id="city" type="text" class="form-control" placeholder="City">
      </div>
      <div class="col">
        <input id="state" type="text" class="form-control" placeholder="State">
      </div>
    </div>
    <button id="submit-trail" type="submit" class="btn btn-primary">Submit</button>
  </form>
  
  <div class="container">
    <footer>
      <img src="../../public/assets/images/footer-background.jpg" alt="footer" style="width:100%;">
      <div class="centered">© 2018 Copyright Hiking Tails</div>
    </footer>
  </div>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>
