<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../public/assets/css/happy_tails_style.css">
    <title>Sign Up</title>
</head>

<body>
    <!--Nav Bar-->
    <nav id='home-nav' class='navbar navbar-inverse'>
        <div class='container-fluid'>
            <div class='navbar-header'>
                <a class='navbar-brand' href='index.html'>Hiking Tails</a>
            </div>
            <ul class='nav navbar-nav'>
                <li>
                    <a class="nav-item nav-link active" href='./index.html'>Home</a>
                </li>
                <li>
                    <a class="nav-item nav-link active" href='./login.html'>Log In</a>
                </li>
                <li>
                    <a class="nav-item nav-link active" href='./signup.html'>Sign Up</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <!--why are these not aligned?-->
    <form id="signup-form" action="user/signup" method="post">

        <div class="container" id="mainsignup">
            <h3>Sign Up</h3>
            <div class="row">
                <div class="input-field col s6" id="first_name">
                    First Name:
                    <input id="firstName" type="text" class="validate" name="firstName" required>
                    <label for="first_name"></label>
                </div>
                <div class="input-field col s6" id= "last_name">
                    Last Name:
                    <input id="lastName" type="text" class="validate" name="lastName" required>
                    <label for="last_name"></label>
                </div>
                <div class="input-field col s6" id="pups_name">
                    Pup's Name:
                    <input id="pupsName" type="text" class="validate" name="pupsName" required>
                    <label for="pups_name"></label>
                </div>
            </div>
            <div class="row">
            </div>
            <div class="row">
                <div class="input-field col s6" id="supemail">
                    Email:
                    <input id="username" type="email" class="validate" name="email" required>
                    <label for="email"></label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6" id="suppassword">
                    Password:
                    <input id="password" type="password" class="validate" name="password" required>
                    <label for="password"></label>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                </div>
                <input id="submit-signup" class="btn" type="submit" value="Submit">
            </div>
        </div>
    </form>
    <!--alternate sign in form (copied from Bootstrap-->
    <!-- <form>
            <h2>Sign Up!</h2>
            <div class="form-row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="First name">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Last name">
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Pup's name">
                </div>
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext
          " id="staticEmail" value="email@example.com">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                </div>
            </div>
        </form> -->
    </div>
   
</body>

</html>