#home-nav{
  margin-bottom: 0px; 
}

#login-form{
  background-image: url("../images/hike-pic-login.jpg");
  height: 100%;
  width: 100%;
  z-index: 1000;  
  margin: auto;
  position: absolute;
  background-size: cover;
  display:flex;
  align-items: center;
  text-align: center;
}

h3{
  color: white;
}

#login-Text{
  color: white;
  margin-top: -200px;
  margin-right: 35px;
}

#login-nav{
  margin-bottom: 0px;
}

#login-email{
  padding: 10px;
}

#login-password{
  margin-right: 30px;
  padding-bottom: 10px;
}

#signup-form{
  background-image: url("../images/hike-pic-signup.jpg");
  height: 100%;
  width: 100%;
  z-index: 1000;  
  margin: auto;
  position: absolute;
  background-size: cover;
  display:flex;
  align-items: center;
  text-align: center;
  }

#submit-signup{
  color: grey;
}

#mainsignup{
  height: 550px;
  width: 400px;
  float: center;
  padding: 40px;
  margin-top:40px;
  opacity: 0.9;
  border-color: transparent;

}

#sup{
  /*background-image: url(../images/dest1.jpg);*/
  background-image: url(../images/singup.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

#navsign{
  background: transparent;
}

#first_name{
  padding: 10px;
}

#last_name{
  padding-bottom: 10px;
}

#pups_name{
  margin-right: 10px;
  padding-bottom: 10px;
}

#supemail{
  margin-left: 30px;
  padding-bottom: 10px;
}

#suppassword{
  padding-bottom: 10px;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#viewAccount{
  background-image: url(../images/UserProfile.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}
#usertrails{
  background-image: url(../images/UserProfile.jpg);
  margin: 10px;
  padding: 10px;
  width: 300px;
  text-align: center;
}

#addTrails{
  background-image: url(../images/addTrails.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

#NewTrail{
  background-image: url(../images/addTrails.jpg);
  margin: 10px;
  padding: 10px;
  width: 300px;
  text-align: center;
}

#FindTrail{
  margin: 10px;
  width: 400px;
}

#video{
width: 100%;
height: 100%;
}